# 1. 데이터 가져오기

In [1]:
from keras.datasets import boston_housing

Using TensorFlow backend.

In [2]:
(train_data, train_targets), (test_data, test_targets) = boston_housing.load_data()

In [3]:
for i in dir(boston_housing) :
    if not i.startswith("_") :
        print(i)

absolute_import
division
get_file
load_data
np
print_function

## 칼럼 정보

    CRIM: Per capita crime rate by town
    ZN: Proportion of residential land zoned for lots over 25,000 sq. ft
    INDUS: Proportion of non-retail business acres per town
    CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
    NOX: Nitric oxide concentration (parts per 10 million)
    RM: Average number of rooms per dwelling
    AGE: Proportion of owner-occupied units built prior to 1940
    DIS: Weighted distances to five Boston employment centers
    RAD: Index of accessibility to radial highways
    TAX: Full-value property tax rate per $10,000
    PTRATIO: Pupil-teacher ratio by town
    B: 1000(Bk — 0.63)², where Bk is the proportion of [people of African American descent] by town
    LSTAT: Percentage of lower status of the population
    MEDV: Median value of owner-occupied homes in $1000s

## 데이터 알아보기

In [4]:
type(train_data)

numpy.ndarray

In [5]:
train_data.shape

(404, 13)

In [6]:
train_targets.shape

(404,)

## 데이터를 판다스로 확인하기

In [7]:
import pandas as pd

In [8]:
columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX','RM', 'AGE', 'DIS','RAD','TAX','PTRATIO','B', 'LSTAT']

In [9]:
len(columns)

13

In [10]:
data = pd.DataFrame(train_data, columns= columns)

In [11]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4.0,307.0,21.0,396.90,18.72
1,0.02177,82.5,2.03,0.0,0.415,7.610,15.7,6.2700,2.0,348.0,14.7,395.38,3.11
2,4.89822,0.0,18.10,0.0,0.631,4.970,100.0,1.3325,24.0,666.0,20.2,375.52,3.26
3,0.03961,0.0,5.19,0.0,0.515,6.037,34.5,5.9853,5.0,224.0,20.2,396.90,8.01
4,3.69311,0.0,18.10,0.0,0.713,6.376,88.4,2.5671,24.0,666.0,20.2,391.43,14.65

## 타켙 데이터

In [12]:
targets = pd.DataFrame(train_targets)

In [13]:
targets.head()

      0
0  15.2
1  42.3
2  50.0
3  21.1
4  17.7

In [14]:
targets[0].value_counts().head()

50.0    13
23.1     6
19.4     6
21.7     6
20.6     6
Name: 0, dtype: int64

# 2. 데이터 정규화하기

### 수치 계산을 0번 축으로 하면 열 기준의 계산 결과가 남는다

In [15]:
mean = train_data.mean(axis=0)

In [16]:
mean

array([3.74511057e+00, 1.14801980e+01, 1.11044307e+01, 6.18811881e-02,
       5.57355941e-01, 6.26708168e+00, 6.90106436e+01, 3.74027079e+00,
       9.44059406e+00, 4.05898515e+02, 1.84759901e+01, 3.54783168e+02,
       1.27408168e+01])

In [17]:
std = train_data.std(axis=0)

In [18]:
std

array([9.22929073e+00, 2.37382770e+01, 6.80287253e+00, 2.40939633e-01,
       1.17147847e-01, 7.08908627e-01, 2.79060634e+01, 2.02770050e+00,
       8.68758849e+00, 1.66168506e+02, 2.19765689e+00, 9.39946015e+01,
       7.24556085e+00])

### 평균을 빼고 표준편차로 나눠서 정규화

In [19]:
train_data -= mean

In [20]:
train_data /= std

In [21]:
test_data -= mean

In [22]:
test_data /= std

# 2.  모델 구성

In [23]:
from keras import models, layers

In [24]:
model = models.Sequential()

In [25]:
model.add(layers.Dense(64, activation='relu', input_shape=(13,)))

WARNING:tensorflow:From /Users/dahlmoon/anaconda/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [26]:
model.add(layers.Dense(64, activation='relu'))

In [27]:
model.add(layers.Dense(64, activation='relu'))

In [28]:
model.add(layers.Dense(1))

In [29]:
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

In [30]:
history_bos = model.fit(train_data,train_targets)

WARNING:tensorflow:From /Users/dahlmoon/anaconda/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/1
404/404 [==============================] - 0s 412us/step - loss: 487.8157 - mean_absolute_error: 20.0269

In [31]:
history_bos = model.fit(train_data,train_targets, epochs=20, batch_size=30)

Epoch 1/20
404/404 [==============================] - 0s 31us/step - loss: 261.6939 - mean_absolute_error: 13.6122
Epoch 2/20
404/404 [==============================] - 0s 29us/step - loss: 105.1291 - mean_absolute_error: 7.9299
Epoch 3/20
404/404 [==============================] - 0s 28us/step - loss: 58.7577 - mean_absolute_error: 5.8931
Epoch 4/20
404/404 [==============================] - 0s 29us/step - loss: 40.6063 - mean_absolute_error: 4.7333
Epoch 5/20
404/404 [==============================] - 0s 30us/step - loss: 29.2979 - mean_absolute_error: 3.9761
Epoch 6/20
404/404 [==============================] - 0s 30us/step - loss: 23.8139 - mean_absolute_error: 3.4777
Epoch 7/20
404/404 [==============================] - 0s 28us/step - loss: 20.6847 - mean_absolute_error: 3.2770
Epoch 8/20
404/404 [==============================] - 0s 28us/step - loss: 17.9310 - mean_absolute_error: 3.0646
Epoch 9/20
404/404 [==============================] - 0s 29us/step - loss: 16.9079 - mean_absolute_error: 2.9391
Epoch 10/20
404/404 [==============================] - 0s 29us/step - loss: 15.0895 - mean_absolute_error: 2.8001
Epoch 11/20
404/404 [==============================] - 0s 27us/step - loss: 14.7057 - mean_absolute_error: 2.7865
Epoch 12/20
404/404 [==============================] - 0s 28us/step - loss: 13.2300 - mean_absolute_error: 2.6242
Epoch 13/20
404/404 [==============================] - 0s 28us/step - loss: 13.1544 - mean_absolute_error: 2.6117
Epoch 14/20
404/404 [==============================] - 0s 28us/step - loss: 12.1032 - mean_absolute_error: 2.4893
Epoch 15/20
404/404 [==============================] - 0s 27us/step - loss: 11.7196 - mean_absolute_error: 2.4526
Epoch 16/20
404/404 [==============================] - 0s 27us/step - loss: 11.3641 - mean_absolute_error: 2.4518
Epoch 17/20
404/404 [==============================] - 0s 31us/step - loss: 10.6631 - mean_absolute_error: 2.3434
Epoch 18/20
404/404 [==============================] - 0s 28us/step - loss: 10.3400 - mean_absolute_error: 2.2871
Epoch 19/20
404/404 [==============================] - 0s 29us/step - loss: 10.6916 - mean_absolute_error: 2.3171
Epoch 20/20
404/404 [==============================] - 0s 29us/step - loss: 9.8653 - mean_absolute_error: 2.2587