In [2]:
import sys

In [3]:
sys.platform

'win32'

In [4]:
sys.version_info

sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

##  스파크를 인식하기

!pip install findspark


## 윈도우즈에서 스파크 설치

    java 버전을 1.8에 맞춰 jdk 설치할 것 
    
https://medium.com/@naomi.fridman/install-pyspark-to-run-on-jupyter-notebook-on-windows-4ec2009de21f

In [2]:
import os

In [3]:
print(os.environ['SPARK_HOME'])

C:\spark\spark-2.4.4-bin-hadoop2.7

In [1]:
import findspark
findspark.init()

import pyspark
findspark.find()

'C:\\spark\\spark-2.4.4-bin-hadoop2.7'


## Create a SparkContext

## 스파크 컨텍스트 설명

https://godblessyk.tistory.com/m/entry/sparkSparkContext?fbclid=IwAR2nKoUk2Lkn0u68vmtr4NcXlfM59A-WMaZVm-qRnVHrlFoE0S6-1Jz4bKY

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [3]:
df = spark.read.csv('./data/titanic.csv', inferSchema=True, header=True)

In [4]:
df.count()

887

In [5]:
df.show()

+--------+------+--------------------+------+----+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex| Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+----+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male|22.0|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female|38.0|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female|26.0|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female|35.0|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male|35.0|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male|27.0|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male|54.0|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male| 2.0|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female|27.0|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female|14.0|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female| 4.0|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female|58.0|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male|20.0|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male|39.0|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female|14.0|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female|55.0|                      0|                      0|   16.0|
|       0|     3| Master. Eugene Rice|  male| 2.0|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male|23.0|                      0|                      0|   13.0|
|       0|     3|Mrs. Julius (Emel...|female|31.0|                      1|                      0|   18.0|
|       1|     3|Mrs. Fatima Masse...|female|22.0|                      0|                      0|  7.225|
+--------+------+--------------------+------+----+-----------------------+-----------------------+-------+
only showing top 20 rows

In [17]:
df.columns

['Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'Siblings/Spouses Aboard',
 'Parents/Children Aboard',
 'Fare']

In [18]:
df.describe(['Survived','Age']).show()

+-------+-------------------+------------------+
|summary|           Survived|               Age|
+-------+-------------------+------------------+
|  count|                887|               887|
|   mean| 0.3855693348365276|29.471443066516347|
| stddev|0.48700411775101266|14.121908405462552|
|    min|                  0|              0.42|
|    max|                  1|              80.0|
+-------+-------------------+------------------+

In [19]:
df[['Survived','Age']].describe().show()

+-------+-------------------+------------------+
|summary|           Survived|               Age|
+-------+-------------------+------------------+
|  count|                887|               887|
|   mean| 0.3855693348365276|29.471443066516347|
| stddev|0.48700411775101266|14.121908405462552|
|    min|                  0|              0.42|
|    max|                  1|              80.0|
+-------+-------------------+------------------+

In [6]:
dir(spark)

['Builder',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_convert_from_pandas',
 '_createFromLocal',
 '_createFromRDD',
 '_create_from_pandas_with_arrow',
 '_create_shell_session',
 '_get_numpy_record_dtype',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedSession',
 '_jsc',
 '_jsparkSession',
 '_jvm',
 '_jwrapped',
 '_repr_html_',
 '_sc',
 '_wrapped',
 'builder',
 'catalog',
 'conf',
 'createDataFrame',
 'newSession',
 'range',
 'read',
 'readStream',
 'sparkContext',
 'sql',
 'stop',
 'streams',
 'table',
 'udf',
 'version']

## RDD, Resilient Distributed Dataset.

In [7]:
nums= sc.parallelize([1,2,3,4])

In [8]:
nums.take(1)

[1]

In [9]:
nums.take(3)

[1, 2, 3]

In [10]:
squared = nums.map(lambda x: x*x).collect()
for num in squared:
    print('%i ' % (num))

1
4
9
16

##  데이터프레임 사용하기 

보다 편리한 방법은 DataFrame을 사용하는 것입니다. SparkContext가 이미 설정되어 있으면이를 사용하여 dataFrame을 만들 수 있습니다.

또한 SQLContext를 선언해야합니다.

SQLContext를 사용하면 엔진을 다른 데이터 소스와 연결할 수 있습니다. Spark SQL의 기능을 시작하는 데 사용됩니다.

In [12]:
list_p = [('John',19),('Smith',29),('Adam',35),('Henry',50)]

In [13]:
### build rdd

In [14]:
rdd = sc.parallelize(list_p)

In [16]:
ppl = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))

In [17]:
ppl

PythonRDD[25] at RDD at PythonRDD.scala:53

In [19]:
from pyspark.sql import Row
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

In [20]:
DF_ppl = sqlContext.createDataFrame(ppl)

In [21]:
DF_ppl

DataFrame[age: bigint, name: string]

In [22]:
DF_ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)