## 참조 자료 

https://dzone.com/articles/pyspark-dataframe-tutorial-introduction-to-datafra

In [17]:
# %load requirements.txt

import findspark
findspark.init()

import pyspark
print(findspark.find())

from pyspark import SparkContext, SparkConf

conf = SparkConf().setMaster("local").setAppName("Spark Practice")

sc = SparkContext(conf=conf)

from pyspark.sql import SparkSession
spark = SparkSession(sc)

C:\spark\spark-2.4.4-bin-hadoop2.7

In [3]:
from pyspark.sql import *
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000 )
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000 )
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000 )
employee5 = Employee('Zach', 'galifianakis', 'zach_g@edureka.co', 160000 )
print(Employee[0])
print(employee3)

firstName
Row(firstName='Muriel', lastName=None, email='muriel@waterloo.edu', salary=140000)

In [5]:
type(Employee)

pyspark.sql.types.Row

In [6]:
type(employee1)

pyspark.sql.types.Row

In [7]:
department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

In [8]:
type(department1)

pyspark.sql.types.Row

In [9]:
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2, employee5])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee3])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [15]:

departmentsWithEmployees_Seq = [departmentWithEmployees1, departmentWithEmployees2]

In [18]:
dframe = spark.createDataFrame(departmentsWithEmployees_Seq)

In [19]:
display(dframe)

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

In [20]:
dframe.show()

+-------------+--------------------+
|   department|           employees|
+-------------+--------------------+
| [123456, HR]|[[Basher, armbrus...|
|[789012, OPS]|[[Muriel,, muriel...|
+-------------+--------------------+

##  스파크 컨텍스트 종료  
  sc.stop()