# 1. 데이터 가져오기

In [1]:
from keras.datasets import boston_housing

In [2]:
(train_data, train_targets), (test_data, test_targets) = boston_housing.load_data()

Downloading data from https://s3.amazonaws.com/keras-datasets/boston_housing.npz
57344/57026 [==============================] - 1s 11us/step

In [13]:
for i in dir(boston_housing) :
    if not i.startswith("_") :
        print(i)

absolute_import
division
get_file
load_data
np
print_function

## 칼럼 정보

    CRIM: Per capita crime rate by town
    ZN: Proportion of residential land zoned for lots over 25,000 sq. ft
    INDUS: Proportion of non-retail business acres per town
    CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
    NOX: Nitric oxide concentration (parts per 10 million)
    RM: Average number of rooms per dwelling
    AGE: Proportion of owner-occupied units built prior to 1940
    DIS: Weighted distances to five Boston employment centers
    RAD: Index of accessibility to radial highways
    TAX: Full-value property tax rate per $10,000
    PTRATIO: Pupil-teacher ratio by town
    B: 1000(Bk — 0.63)², where Bk is the proportion of [people of African American descent] by town
    LSTAT: Percentage of lower status of the population
    MEDV: Median value of owner-occupied homes in $1000s

## 데이터 알아보기

In [3]:
type(train_data)

numpy.ndarray

In [4]:
train_data.shape

(404, 13)

In [5]:
train_targets.shape

(404,)

## 데이터를 판다스로 확인하기

In [6]:
import pandas as pd

In [26]:
columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX','RM', 'DIS','RAD','TAX','PTRATIO','B', 'LSTAT','MEDV']

In [27]:
len(columns)

13

In [28]:
data = pd.DataFrame(train_data, columns= columns)

In [29]:
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...   TAX  PTRATIO     B   LSTAT   MEDV
0  1.23247   0.0   8.14   0.0  0.538  ...   4.0    307.0  21.0  396.90  18.72
1  0.02177  82.5   2.03   0.0  0.415  ...   2.0    348.0  14.7  395.38   3.11
2  4.89822   0.0  18.10   0.0  0.631  ...  24.0    666.0  20.2  375.52   3.26
3  0.03961   0.0   5.19   0.0  0.515  ...   5.0    224.0  20.2  396.90   8.01
4  3.69311   0.0  18.10   0.0  0.713  ...  24.0    666.0  20.2  391.43  14.65

[5 rows x 13 columns]

## 타켙 데이터

In [7]:
targets = pd.DataFrame(train_targets)

In [8]:
targets.head()

      0
0  15.2
1  42.3
2  50.0
3  21.1
4  17.7

In [10]:
targets[0].value_counts().head()

50.0    13
23.1     6
19.4     6
21.7     6
20.6     6
Name: 0, dtype: int64

# 2. 데이터 정규화하기

### 수치 계산을 0번 축으로 하면 열 기준의 계산 결과가 남는다

In [30]:
mean = train_data.mean(axis=0)

In [31]:
mean

array([3.74511057e+00, 1.14801980e+01, 1.11044307e+01, 6.18811881e-02,
       5.57355941e-01, 6.26708168e+00, 6.90106436e+01, 3.74027079e+00,
       9.44059406e+00, 4.05898515e+02, 1.84759901e+01, 3.54783168e+02,
       1.27408168e+01])

In [33]:
std = train_data.std(axis=0)